# Stackoverflow Question: Using numpy.max/ numpy.min for timestamp values
Issue: https://stackoverflow.com/questions/51175050/using-numpy-max-numpy-min-for-timestamp-values

In [52]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')


sales = pd.DataFrame(columns=['transdate','custid'])
sales['transdate'] = ['2017-08-08','2017-08-09','2017-08-10','2017-08-11']
sales['transdate'] = pd.to_datetime(sales['transdate'])
sales['custid'] = np.arange(4)
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
transdate    4 non-null datetime64[ns]
custid       4 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 144.0 bytes

In [53]:
# Some test data
sales

   transdate  custid
0 2017-08-08       0
1 2017-08-09       1
2 2017-08-10       2
3 2017-08-11       3

### Their Solution

In [54]:
sales.groupby('transdate')['custid'].agg(
  {'count':np.count_nonzero,'first': np.min, 'last' : np.max})

            count  first  last
transdate
2017-08-08      0      0     0
2017-08-09      1      1     1
2017-08-10      1      2     2
2017-08-11      1      3     3

### My Solution

In [55]:
sales[(sales['transdate'] >= '2017-08-08') & (sales['transdate'] <= '2017-08-10')].groupby('transdate')['custid'].agg(
  {'count':np.count_nonzero,'first': np.min, 'last' : np.max})

            count  first  last
transdate
2017-08-08      0      0     0
2017-08-09      1      1     1
2017-08-10      1      2     2

Author: Kavi Sekhon