### Freqency Count per Column Pandas [duplicate]

In [2]:
https://stackoverflow.com/questions/51191615/freqency-count-per-column-pandas

SyntaxError: invalid syntax (<ipython-input-2-90eb13651adc>, line 1)

In [41]:
import pandas as pd
df = pd.DataFrame({'Label_1':[0,1,1,1]})

df.Label_1.replace(to_replace=1, value='Male', inplace=True)
df.Label_1.replace(to_replace=0, value='Female',inplace=True)


pd.DataFrame(df.Label_1.value_counts())

        Label_1
Male          3
Female        1

In [43]:
df = pd.DataFrame({'Label_1':[0,1,1,1]})
df

   Label_1
0        0
1        1
2        1
3        1

In [32]:
df

   Label1
0  Female
1    Male
2    Male
3    Male

1    3
0    1
Name: Label1, dtype: int64

In [19]:
df[df[df.columns] == 1].count()

Label1    3
dtype: int64