Source: Pandas: How to group the non-continuous date column?

In [21]:
import pandas as pd

df1 = pd.DataFrame({'Date':['2017-04-20 12:00','2017-03-20 12:00','2017-05-20 12:00'],
                   'Value':[100, 250, 300]})

df2 = pd.DataFrame({'Date':['2017-04-20','2017-03-20','2017-03-20'],
                    'Time':['12:00','12:00','12:00'],
                   'Weather':['Sunny', 'Sunny', 'Sunny']})

In [22]:
df1.Date = pd.to_datetime(df1.Date)
df1.set_index('Date')
df1.sort_values('Date')

                 Date  Value
1 2017-03-20 12:00:00    250
0 2017-04-20 12:00:00    100
2 2017-05-20 12:00:00    300

In [23]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Date     3 non-null datetime64[ns]
Value    3 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 128.0 bytes