# Pandas adding empty column of objects to dataframe

Source: https://stackoverflow.com/questions/51202591/pandas-adding-empty-column-of-objects-to-dataframe/51202672#51202672

In [31]:
import pandas as pd

df = pd.DataFrame()
df['col A'] = [1,12,312,352]
df['col B'] = [[],[],[],[]]

ser = [1,4,5,6]
df.loc[2,'col B'] = ser
df

   col A         col B
0      1            []
1     12            []
2    312  [1, 4, 5, 6]
3    352            []

In [38]:
df = pd.DataFrame({"A": [1,2,3], "B": [2,3,4]})
df

df["D"] = [[] for x in range(len(df))]
df

df['D'][1].append(['a','b','c','d'])
df

   A  B               D
0  1  2              []
1  2  3  [[a, b, c, d]]
2  3  4              []

Author: Kavi Sekhok