In [11]:
import pandas as pd
df = pd.DataFrame({'Followrs': [51,22,34,45,25,86],
                'Following': [1,2,3,4,4,5]})
df['Ratio '] = df['Followrs'] / df['Following']
df

   Followrs  Following     Ratio
0        51          1  51.000000
1        22          2  11.000000
2        34          3  11.333333
3        45          4  11.250000
4        25          4   6.250000
5        86          5  17.200000

   Followrs  Following
0        51          1
1        22          2
2        34          3
3        45          4
4        25          4
5        86          5

In [ ]:
comp_df['ratio'] = comp_df[['Followers', 'Following']].apply(lambda x: follower_ratio(x,y), axis=1)