# Recommendations Systems

<span></span>

### Import Preliminaries

In [9]:
# Import generic data science packages
%matplotlib inline
%config InlineBackend.figure_format='retina'


# Import modules
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib as mpl
import numpy as np
import pandas as pd 
import sklearn
import seaborn as sns
import warnings

# Import Model Selection 
from sklearn.model_selection import train_test_split, cross_val_score

# Set pandas options
pd.set_option('max_columns',1000)
pd.set_option('max_rows',30)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Set plotting options
mpl.rcParams['figure.figsize'] = (8.0, 7.0)

# Ignore Warnings
warnings.filterwarnings('ignore')

### Import Data

In [51]:
df = pd.read_csv('/Users/kavi/Documents/Science/Brainstation/Python Labs/Recommendation Systems/movies_metadata.csv')

### Top Rated System

In [52]:
top_df = df.sort_values(by='vote_average', ascending=False)
top_df[['title','vote_average','vote_count']].head(5)

,title,vote_average,vote_count
21642,Ice Age Columbus: Who Were the First Americans?,10.000,1.000
15710,If God Is Willing and da Creek Don't Rise,10.000,1.000
22396,Meat the Truth,10.000,1.000
22395,Marvin Hamlisch: What He Did For Love,10.000,1.000
35343,Elaine Stritch: At Liberty,10.000,1.000

### Top Rated Threshold System

In [53]:
top_df = df.sort_values(by='vote_average', ascending=False)
top_df = top_df[top_df.vote_count > 1000]
top_df[['title','vote_average','vote_count']].head(5)

                          title  vote_average  vote_count
314    The Shawshank Redemption         8.500    8358.000
834               The Godfather         8.500    6024.000
40251                Your Name.         8.500    1030.000
2843                 Fight Club         8.300    9678.000
1178     The Godfather: Part II         8.300    3418.000

Author: Kavi Sekhon